
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--Inclui a página contatos-->
@Html.Partial("_Contatos")

<!-- Preencher uma área do layout -->
@section Propaganda{
     <a href="http://www.fiap.com.br">A Melhor Faculdade de TI</a>
}


